* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
body,
header,
footer {
  padding: 0;
  margin: 0;
}
.lrgContainer {
  background-color: #3b81e3;
}
.container,
.lrgContainer {
  width: 100%;
  min-width: 240px;
  /* border: 1px solid #000; */
  padding: 0 15px;
}
header {
  padding: 15px 0 45px 0;
}
h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  margin: 0;
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
main {
  /* display: flex;
  flex-direction: column; */
}
footer {
  padding: 45px 0 45px 0;
}
